<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist</title>
    <link rel="stylesheet" type="text/css" href="../static/ArtistPageStyle.css">
</head>
<body>
<header>ARTIST</header>

<div class="topnav">
    <a href="/frontEnd/templates/HomePage.html?_ijt=ertg6hkv2bsvlvh668voii186g">Home</a>
    <a href="/frontEnd/templates/BrowsingPage.html?_ijt=1fkmkoqpu447nnkm33tj4r251s">All songs</a>
    <a href="http://localhost:63342/frontEnd/templates/GenrePage.html?_ijt=buf3q34qfm84ft0pr8v6i2ba71">Genre</a>
    <a class="active">Artist</a>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><img src="../static/searchtool.png" width="18px"></button>
        </form>
    </div>
</div>

<div class="table1">
    <table style="width:100%">
        <tr>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/ade.jpg" width="200px"></a>
                <br><p style="text-align: center">Adele</p>
            </td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/bet.jpg" width="200px"></a>
                <br><p style="text-align: center">The Beatles</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/edd.jpg" width="200px"></a>
                <br><p style="text-align: center">Ed Sheeran</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/smiths.jpg" width="200px"></a>
                <br><p style="text-align: center">Sam Smiths</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/abb1.jpg" width="200px"></a>
                <br><p style="text-align: center">Abba</p></td>

        </tr>
        <tr>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/avicii.jpg" width="200px"></a>
                <br><p style="text-align: center">Avicii</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/zedd.jpg" width="200px"></a>
                <br><p style="text-align: center">Zedd</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/gle.jpg" width="200px"></a>
                <br><p style="text-align: center">Glee</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/queen.jpg" width="200px"></a>
                <br><p style="text-align: center">Queen</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/bruno.jpg" width="200px"></a>
                <br><p style="text-align: center">Bruno Mars</p></td>
        </tr>
        <tr>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/taylor.jpg" width="200px"></a>
                <br><p style="text-align: center">Taylor Swifts</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/hardwell.jpg" width="200px"></a>
                <br><p style="text-align: center">Hardwell</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/gle.jpg" width="200px"></a>
                <br><p style="text-align: center">Glee</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/queen.jpg" width="200px"></a>
                <br><p style="text-align: center">Queen</p></td>
            <td><a href="/frontEnd/templates/OneArtistPage.html?_ijt=32gd89n9tkm3h54sq78hil00d5"><img src="../static/bruno.jpg" width="200px"></a>
                <br><p style="text-align: center">Bruno Mars</p></td>
        </tr>

    </table>
</div>

</body>
</html>