<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Library</title>
    <link rel="stylesheet" href="HomePageStyle.css">
</head>

<body>
<header>MUSICLIBRARY</header>
<table class="browseSection">

    <th>
        <img src="searchtool.png" style="width:15px ">
        <a href="/frontEnd/templates/BrowsingPage.html?_ijt=b0gqts056s2di5mmsc29rhhi3d">
            Browse
        </a>

    </th>
    <th>What's new</th>

</table>
<p class="firstPic"><img src="photo1.jpeg" style="width:1200px;height:600px;"/></p>


<div class="secondPic">
    <img src="picture2.jpeg"
         width="600px"/>
</div>

<div style="float: right; margin: 10px">
    <img src="chord.jpg" width="600px">
</div>
<div style="float: right; text-align: left; line-height: 6px; margin-right: 150px; margin-top: 100px">

        <p style="font-size: 30px; font-style: oblique">Customize your</p>
        <p style="font-style: oblique; font-size: 30px"> collection</p>
        <p style="font-size: 18px; font-style: normal">Keep your favourite song organized</p>
        <p style="font-style: normal; font-size: 18px">in a fun way</p>
        <br>
        <h3><a href="http://localhost:63342/frontEnd/templates/BrowsingPage.html?_ijt=b0gqts056s2di5mmsc29rhhi3d"
               target="blank_"> Start browsing</a></h3>

</div>


</body>
</html>